<a href="https://colab.research.google.com/github/hetkothari/Telecom-Churn-Capstone-1/blob/main/Telecom_Churn_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Orange S.A., formerly France Télécom S.A., is a French multinational telecommunications corporation. The Orange Telecom's Churn Dataset, consists of cleaned customer activity data (features), along with a churn label specifying whether a customer canceled the subscription.

## <b> Explore and analyze the data to discover key factors responsible for customer churn and come up with ways/recommendations to ensure customer retention. </b>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [4]:
data= pd.read_csv("/content/drive/MyDrive/Copy of Telecom Churn.csv")

In [5]:
data.head(10)

  State  Account length  ...  Customer service calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False
5    AL             118  ...                       0  False
6    MA             121  ...                       3  False
7    MO             147  ...                       0  False
8    LA             117  ...                       1  False
9    WV             141  ...                       0  False

[10 rows x 20 columns]

In [6]:
print("Number of rows is: ", data.shape[0])
print("Number of columns is: ", data.shape[1])

Number of rows is:  3333
Number of columns is:  20

In [7]:
data.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

In [8]:
data.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [9]:
data['Churn'].describe()

count      3333
unique        2
top       False
freq       2850
Name: Churn, dtype: object

In [10]:
data.describe()

       Account length    Area code  ...  Total intl charge  Customer service calls
count     3333.000000  3333.000000  ...        3333.000000             3333.000000
mean       101.064806   437.182418  ...           2.764581                1.562856
std         39.822106    42.371290  ...           0.753773                1.315491
min          1.000000   408.000000  ...           0.000000                0.000000
25%         74.000000   408.000000  ...           2.300000                1.000000
50%        101.000000   415.000000  ...           2.780000                1.000000
75%        127.000000   510.000000  ...           3.270000                2.000000
max        243.000000   510.000000  ...           5.400000                9.000000

[8 rows x 16 columns]

In [11]:
data.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [12]:
data['International plan'].describe()

count     3333
unique       2
top         No
freq      3010
Name: International plan, dtype: object

In [13]:
data['Voice mail plan'].describe()

count     3333
unique       2
top         No
freq      2411
Name: Voice mail plan, dtype: object

In [14]:
def tobool(x):
  if x=="Yes":
    return True
  else:
    return False

In [15]:
data['International plan']=data['International plan'].apply(tobool).convert_dtypes()
data['International plan']

0       False
1       False
2       False
3        True
4        True
        ...
3328    False
3329    False
3330    False
3331     True
3332    False
Name: International plan, Length: 3333, dtype: boolean

In [16]:
data["Voice mail plan"]=data["Voice mail plan"].apply(tobool).convert_dtypes()
data["Voice mail plan"]

0        True
1        True
2       False
3       False
4       False
        ...
3328     True
3329    False
3330    False
3331    False
3332     True
Name: Voice mail plan, Length: 3333, dtype: boolean

In [17]:
data["Total charge"]= data["Total intl charge"]+data["Total night charge"]+data["Total eve charge"]+data["Total day charge"]
data["Total charge"].describe()

count    3333.000000
mean       59.449754
std        10.502261
min        22.930000
25%        52.380000
50%        59.470000
75%        66.480000
max        96.150000
Name: Total charge, dtype: float64

In [20]:
data["Total minutes"]= data["Total intl minutes"]+data["Total night minutes"]+data["Total eve minutes"]+data["Total day minutes"]
data["Total minutes"].describe()

count    3333.000000
mean      591.864776
std        89.954251
min       284.300000
25%       531.500000
50%       593.600000
75%       652.400000
max       885.000000
Name: Total minutes, dtype: float64

In [24]:
data["Per minute Charge"]= data["Total charge"]/data["Total minutes"]
data["Per minute Charge"].describe()

count    3333.000000
mean        0.100354
std         0.008440
min         0.066950
25%         0.094893
50%         0.100385
75%         0.106056
max         0.129791
Name: Per minute Charge, dtype: float64

In [32]:
from sklearn.preprocessing import minmax_scale
data["Per minute Charge"]= minmax_scale(data["Per minute Charge"])
data["Per minute Charge"].describe()

count    3333.000000
mean        0.531560
std         0.134309
min         0.000000
25%         0.444649
50%         0.532054
75%         0.622289
max         1.000000
Name: Per minute Charge, dtype: float64